* {
    box-sizing: border-box;

    /* Default font for paragraphs. */
    font-size: 18px;
    font-family: 'Hanken Grotesk', 'Times New Roman', Times, serif;
}

.container {
    display: flex;

    justify-content: center;
    align-items: center;
}

.panel {
    display: flex;
    flex-direction: column;

    width: 400px;
}

.score {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    /* Gradient is a special type of background image. */
    /* color1, transition percentage (default 50%), color2 */
    background: linear-gradient(hsl(252, 100%, 67%), 25%, hsl(241, 81%, 54%));
    height: 400px;
    color:hsl(241, 100%, 89%);

    padding: 0px 50px;

    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.circle {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    background: linear-gradient(hsla(241, 72%, 46%, 0.5), 75%, hsla(256, 72%, 46%, 0));

    border-radius: 50%;
    width: 125px;
    height: 125px;

    margin: 20px;
}

.circle__header {
    color: hsl(0, 0%, 100%);
    font-size: 50px;
}

.score__header {
    color: hsl(0, 0%, 100%);
    font-size: 22px;
    padding-bottom: 5px;
}

.score__body {
    text-align: center;
}

.summary {
    border: 1px red solid;

    display: flex;
    flex-direction: column;

    padding: 20px 30px;
    gap: 10px;
}

.skills {
    display: flex;

    gap: 10px;
}

.stats {
    border: 1px red solid;
    border-radius: 15px;

    display: flex;
    justify-content: space-between;

    margin: 15px 0px;
    padding: 20px;
}

.button {
    border: 1px red solid;

    background-color: hsl(224, 30%, 27%);
    color: hsl(0, 0%, 100%);
}