* {
    box-sizing: border-box;

    /* Default font for paragraphs. */
    font-size: 18px;
    font-family: 'Hanken Grotesk', 'Times New Roman', Times, serif;
}

.container {
    border: 1px red solid;
    display: flex;

    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.summary {
    border: 1px red solid;
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    width: 300px;
}

.score {
    border: 1px red solid;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    /* Gradient uses background/background-image */
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    height: 300px;
    color:hsl(0, 0%, 100%);
}

.circle {
    border: 1px red solid;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));

    /* px is equivalent to % */
    border-radius: 50px;
    width: 100px;
    height: 100px;
}

.circle__header {

}

.stats {
    border: 1px red solid;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.summary__continueButton {
    border: 1px red solid;

    background-color: hsl(224, 30%, 27%);
    color: hsl(0, 0%, 100%);
}